html {
  color: var(--base00);
}
body{
  background-color: var(--base02);
}

::selection {
  background: var(--base3);
  color: var(--base00);
}

hr {
  border-top: 3px dotted var(--orange);
}

blockquote {
  border-left: 3px solid var(--orange);
  color: var(--base01);
}

a {
  color: inherit;
}
a:hover {
    background-color: var(--base02);
    color: var(--base1);
}

/* Images */
img {
  border: 3px solid var(--base2);
}

/* Code blocks */
code {
  background-color: var(--base03);
}

pre {
  background-color: var(--base03);
}

.highlight pre ::selection {
  background: rgba(253, 246, 227, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
}

header .main {
  color: var(--orange);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--orange);
}

h1::before { color: var(--base3); content: '# '; }
h2::before { color: var(--base3); content: '## '; }
h3::before { color: var(--base3); content: '### '; }
h4::before { color: var(--base3); content: '#### '; }
h5::before { color: var(--base3); content: '##### '; }
h6::before { color: var(--base3); content: '###### '; }

.meta {
  color: var(--base00);
}

/* Footer */
footer {
  border-top: 0.4rem double var(--orange);
}

time {
  color: var(--base1);
}

/* Callout */
.callout {
  background-color: var(--blue);
  color: var(--base3);
}


.callout a:hover {
  background-color: var(--base03);
  color: var(--blue);
}

.tags a:hover{
  color: var(--base03);
  background-color: var(--base03);
}
.soc:hover{
  color: var(--base3);
}
.draft-label{
  color: var(--orange);
  background-color: var(--base03);
}
.highlight pre code[class*="language-"]::before {
  background-color: var(--base3);
  color: var(--base00);
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background-color: var(--base3);
  color: var(--base00);
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background-color: var(--base3);
  color: var(--base00);
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background-color: var(--base3);
  color: var(--base00);
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
  background-color: var(--base3);
  color: var(--base00);
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background-color: var(--base3);
  color: var(--base00);
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
  background-color: var(--base3);
  color: var(--base00);
}
.highlight pre code[class*='language-go']::before{
  content: 'Go';
  background-color: var(--base3);
  color: var(--base00);
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
  content: 'Markdown';
  background-color: var(--base3);
  color: var(--base00);
}

/* table */
table th{
  border: 1px dotted var(--base2);
}

table td{
  border: 1px dotted var(--base2);
}
